<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.dao.UserDao">
	<select id="selectUser1" parameterType="java.lang.String" resultType="User">
		select * from user1 where username=#{username}
	</select>
	
	<select id="insertUser1" parameterType="java.util.Map">
		insert into user1
		(username,password)
		values(
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}
		)
	</select>
	
</mapper>